<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>PLAN:AT</title>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js" type="text/javascript"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDHTSknCXHZjIfw8wPJyfB7cQj86x2FlAU&libraries=marker,places" type="text/javascript"></script>
    <script src="./assets/scripts/common.js" type="text/javascript"></script>
    <script src="./assets/libraries/perfect-scrollbar/perfect-scrollbar.min.js" type="text/javascript"></script>
    <script defer src="./assets/scripts/index.js" type="module"></script>
    <link href="./assets/libraries/ckeditor5/ckeditor5.css" rel="stylesheet">
    <link href="./assets/libraries/perfect-scrollbar/perfect-scrollbar.css" rel="stylesheet">
    <link href="./assets/styles/common.css" rel="stylesheet" type="text/css">
    <link href="./assets/styles/index.css" rel="stylesheet" type="text/css">
</head>
<body>
<div data-hy-object="loading" data-hy-name="loading">
    <img alt="" src="./assets/images/common/object/loading/icon.png" data-hy-component="loading.icon">
    <span data-hy-component="loading.caption">잠시만 기다려 주세요.</span>
</div>
<div class="dialog" data-hy-object="dialog" data-hy-name="dialog"></div>
<div class="submenu friend" data-hy-reference="submenu" data-hy-name="friend">
    <div class="top">
        <h2 class="title -flex-stretch">친구</h2>
        <ul class="menu">
            <li class="item">
                <label class="button">
                    <input hidden class="input" name="pin" type="checkbox">
                    <img alt="" class="icon" draggable="false" src="./assets/images/index/submenu/top.pin.png">
                </label>
            </li>
            <li class="item">
                <button class="button" name="close" type="button" data-hy-reference="close">
                    <img alt="" class="icon" draggable="false" src="./assets/images/index/submenu/top.close.png">
                </button>
            </li>
        </ul>
    </div>
    <div class="body">
        <div class="list-wrapper">
            <div class="title-wrapper">
                <h2 class="title">받은 친구 추가</h2>
            </div>
            <ul class="list received" data-hy-reference="list" data-hy-name="received">
                <li class="message -visible" data-hy-reference="message" data-hy-name="empty">표시할 항목이 없습니다.</li>
                <li class="message" data-hy-reference="message" data-hy-name="error">데이터를 불러오는 도중 오류가 발생하였습니다.</li>
                <li class="item" data-hy-reference="item" data-hy-id="${group['groupId']}">
                    <span class="text-container">
                        <span class="nickname">이멩멩</span>
                        <span class="email">mengmeng@meng.meng</span>
                    </span>
                    <span class="action-container">
                        <button class="button" name="decline" type="button">
                            <img alt="X" class="icon" draggable="false" src="./assets/images/index/submenu/friend/decline.png">
                        </button>
                        <button class="button" name="accept" type="button">
                            <img alt="X" class="icon" draggable="false" src="./assets/images/index/submenu/friend/accept.png">
                        </button>
                    </span>
                </li>
            </ul>
        </div>
        <div class="list-wrapper">
            <div class="title-wrapper">
                <h2 class="title">보낸 친구 추가</h2>
            </div>
            <ul class="list sent" data-hy-reference="list" data-hy-name="sent">
                <li class="message -visible" data-hy-reference="message" data-hy-name="empty">표시할 항목이 없습니다.</li>
                <li class="message" data-hy-reference="message" data-hy-name="error">데이터를 불러오는 도중 오류가 발생하였습니다.</li>
                <li class="item" data-hy-reference="item" data-hy-id="${group['groupId']}">
                    <span class="text-container">
                        <span class="nickname">이멩멩</span>
                        <span class="email">mengmeng@meng.meng</span>
                    </span>
                    <span class="action-container">
                        <button class="button" name="cancel" type="button">
                            <img alt="X" class="icon" draggable="false" src="./assets/images/index/submenu/friend/cancel.png">
                        </button>
                    </span>
                </li>
            </ul>
        </div>
        <div class="list-wrapper">
            <div class="title-wrapper">
                <h2 class="title">활성 친구</h2>
            </div>
            <div class="button-container">
                <button class="-flex-stretch" name="add" type="button" data-hy-object="button" data-hy-color="roseTan" data-hy-border-radius="none" data-hy-reference="addFriend">
                    <img alt="" draggable="false" src="./assets/images/index/submenu/friend/add.png" data-hy-component="button.icon">
                    <span data-hy-component="button.caption">친구 추가</span>
                </button>
            </div>
            <form novalidate class="search-form" data-hy-reference="searchForm">
                <label class="label" data-hy-object="label" data-hy-name="keyword">
                    <input autocomplete="off" class="input" maxlength="25" minlength="0" name="keyword" placeholder="검색어를 입력해 주세요." type="text" data-hy-object="field" data-hy-component="label.field">
                </label>
            </form>
            <ul class="list active" data-hy-reference="list" data-hy-name="active">
                <li class="message -visible" data-hy-reference="message" data-hy-name="empty">표시할 항목이 없습니다.</li>
                <li class="message" data-hy-reference="message" data-hy-name="error">데이터를 불러오는 도중 오류가 발생하였습니다.</li>
            </ul>
        </div>
    </div>
</div>
<div class="submenu group" data-hy-reference="submenu" data-hy-name="group">
    <div class="top">
        <h2 class="title -flex-stretch">그룹</h2>
        <ul class="menu">
            <li class="item">
                <label class="button">
                    <input hidden class="input" name="pin" type="checkbox">
                    <img alt="" class="icon" draggable="false" src="./assets/images/index/submenu/top.pin.png">
                </label>
            </li>
            <li class="item">
                <button class="button" name="close" type="button" data-hy-reference="close">
                    <img alt="" class="icon" draggable="false" src="./assets/images/index/submenu/top.close.png">
                </button>
            </li>
        </ul>
    </div>
    <div class="body">
        <div class="list-wrapper">
            <div class="title-wrapper">
                <h2 class="title">받은 초대</h2>
            </div>
            <ul class="list received" data-hy-reference="list" data-hy-name="received">
                <li class="message" data-hy-reference="message" data-hy-name="empty">표시할 항목이 없습니다.</li>
                <li class="message" data-hy-reference="message" data-hy-name="error">데이터를 불러오는 도중 오류가 발생하였습니다.</li>
                <li class="item" data-hy-reference="item">
                    <span class="text-container">
                        <span class="name">가족</span>
                        <span class="host">
                            <span class="nickname">멩</span>
                            <span class="email">meng@meng.meng</span>
                        </span>
                    </span>
                    <span class="action-container">
                        <button class="button" name="decline" type="button">
                            <img alt="X" class="icon" draggable="false" src="./assets/images/index/submenu/group/decline.png">
                        </button>
                        <button class="button" name="accept" type="button">
                            <img alt="X" class="icon" draggable="false" src="./assets/images/index/submenu/group/accept.png">
                        </button>
                    </span>
                </li>
                <li class="item" data-hy-reference="item">
                    <span class="text-container">
                        <span class="name">친구</span>
                        <span class="host">
                            <span class="nickname">멩</span>
                            <span class="email">meng@meng.meng</span>
                        </span>
                    </span>
                    <span class="action-container">
                        <button class="button" name="decline" type="button">
                            <img alt="X" class="icon" draggable="false" src="./assets/images/index/submenu/group/decline.png">
                        </button>
                        <button class="button" name="accept" type="button">
                            <img alt="X" class="icon" draggable="false" src="./assets/images/index/submenu/group/accept.png">
                        </button>
                    </span>
                </li>
            </ul>
        </div>
        <div class="list-wrapper">
            <div class="title-wrapper">
                <h2 class="title">보낸 초대</h2>
            </div>
            <ul class="list sent" data-hy-reference="list" data-hy-name="sent">
                <li class="message" data-hy-reference="message" data-hy-name="empty">표시할 항목이 없습니다.</li>
                <li class="message" data-hy-reference="message" data-hy-name="error">데이터를 불러오는 도중 오류가 발생하였습니다.</li>
            </ul>
        </div>
        <div class="list-wrapper">
            <div class="title-wrapper">
                <h2 class="title">활성 그룹</h2>
            </div>
            <div class="button-container">
                <button class="-flex-stretch" name="add" type="button" data-hy-object="button" data-hy-color="roseTan" data-hy-border-radius="none" data-hy-reference="addGroup">
                    <img alt="" draggable="false" src="./assets/images/index/submenu/group/add.png" data-hy-component="button.icon">
                    <span data-hy-component="button.caption">그룹 추가</span>
                </button>
            </div>
            <form novalidate class="search-form" data-hy-reference="searchForm">
                <label class="label" data-hy-object="label" data-hy-name="keyword">
                    <input autocomplete="off" class="input" maxlength="25" minlength="0" name="keyword" placeholder="검색어를 입력해 주세요." type="text" data-hy-object="field" data-hy-component="label.field">
                </label>
            </form>
            <ul class="list active" data-hy-reference="list" data-hy-name="active">
                <li class="message" data-hy-reference="message" data-hy-name="empty">표시할 항목이 없습니다.</li>
                <li class="message" data-hy-reference="message" data-hy-name="error">데이터를 불러오는 도중 오류가 발생하였습니다.</li>
            </ul>
        </div>
    </div>
</div>
<aside id="aside">
    <span class="logo">PLAN:AT</span>
    <div class="user">
        <a class="image-wrapper" target="_blank" th:href="@{/user/email (email = ${session.signedUser.getEmail()})}">
            <img alt="" class="image" draggable="false" th:src="@{/user/email (email = ${session.signedUser.getEmail()})}">
        </a>
        <div class="text-container">
            <span class="name" th:text="${session.signedUser.getNickname()}"></span>
            <span class="email" th:text="${session.signedUser.getEmail()}"></span>
        </div>
    </div>
    <ul class="user-menu" data-hy-reference="userMenu">
        <li class="item" data-hy-reference="item" data-hy-name="myPage">마이페이지</li>
        <li class="item">
            <a class="link" th:href="@{/user/logout}">로그아웃</a>
        </li>
    </ul>
    <ul class="alarm">
        <li class="item notification" data-hy-reference="notification">
            <ul class="list" tabindex="0" data-hy-reference="notificationList">
                <li class="title">
                    <span class="caption">알림</span>
                    <div class="action-container">
                        <span class="action" data-hy-reference="deleteAllAction">모두 삭제</span>
                    </div>
                </li>
                <li class="message" data-hy-reference="message" data-hy-name="error">오류가 발생하였습니다.</li>
                <li class="message" data-hy-reference="message" data-hy-name="empty">표시할 항목이 없습니다.</li>
            </ul>
            <img alt="" class="icon" draggable="false" src="./assets/images/index/aside/alarm.notification.png">
            <span class="count" data-hy-reference="notificationCount">0</span>
        </li>
    </ul>
    <ul class="menu">
        <li class="title">친구</li>
        <li class="item" data-hy-reference="menuItem" data-hy-name="friend">
            <img alt="" class="icon" draggable="false" src="./assets/images/index/aside/menu-item/friend-manage.png">
            <span class="caption">친구</span>
        </li>
    </ul>
    <ul class="menu">
        <li class="title">그룹</li>
        <li class="item" data-hy-reference="menuItem" data-hy-name="group">
            <img alt="" class="icon" draggable="false" src="./assets/images/index/aside/menu-item/group-manage.png">
            <span class="caption">그룹</span>
        </li>
    </ul>
    <ul class="menu groups" data-hy-reference="groupList">
        <li class="title">표시할 그룹</li>
        <li class="message -visible" data-hy-reference="message" data-hy-name="empty">표시할 항목이 없습니다.</li>
        <li class="message" data-hy-reference="message" data-hy-name="error">오류가 발생했습니다.</li>
    </ul>
    <div class="-flex-stretch" role="none"></div>
    <ul class="sns">
        <li class="item">
            <a class="link" href="https://www.instagram.com/hyedelion" target="_blank">
                <img alt="" class="icon" draggable="false" src="./assets/images/index/aside/sns.instagram.png">
            </a>
        </li>
    </ul>
    <div class="copyright">&copy; 2025 Hyemin Lee.</div>
</aside>
<main class="box" id="main">
    <div class="calendar-header">
        <form class="nav-form" data-hy-reference="navForm">
            <div class="control-container">
                <button class="button" type="button" data-hy-reference="prevButton">
                    <img alt="<" class="icon" draggable="false" src="./assets/images/index/main/calendar/control-prev.png">
                </button>
                <button class="button" type="button" data-hy-reference="nextButton">
                    <img alt=">" class="icon" draggable="false" src="./assets/images/index/main/calendar/control-next.png">
                </button>
            </div>
            <div class="date">
                <span class="year" data-hy-reference="year"></span>
                .
                <span class="month" data-hy-reference="month"></span>
            </div>
        </form>
    </div>
    <div class="calendar" data-hy-reference="calendar">
        <div class="day-container">
            <div class="day">일</div>
            <div class="day">월</div>
            <div class="day">화</div>
            <div class="day">수</div>
            <div class="day">목</div>
            <div class="day">금</div>
            <div class="day">토</div>
        </div>
        <div class="cell-container" data-hy-reference="cellContainer"></div>
    </div>
</main>
<section id="side">
    <div class="top">
        <h2 class="title -flex-stretch" data-hy-reference="title">날씨</h2>
        <ul class="menu" data-hy-reference="topMenu">
            <li class="item">
                <button class="button" name="close" type="button" data-hy-reference="action" data-hy-name="delete">
                    <img alt="" class="icon" draggable="false" src="./assets/images/index/schedule/top.delete.png">
                </button>
            </li>
            <li class="item">
                <button class="button" name="close" type="button" data-hy-reference="action" data-hy-name="modify">
                    <img alt="" class="icon" draggable="false" src="./assets/images/index/schedule/top.modify.png">
                </button>
            </li>
            <li class="item">
                <button class="button" name="close" type="button" data-hy-reference="action" data-hy-name="close">
                    <img alt="" class="icon" draggable="false" src="./assets/images/index/schedule/top.close.png">
                </button>
            </li>
        </ul>
    </div>
    <div class="body default -visible" data-hy-reference="body" data-hy-name="default">
        <div class="current-weather" data-hy-reference="currentWeather">
            <img alt="-" class="icon" src="./assets/images/index/side/default/current-weather/rain.svg" data-hy-reference="currentIcon">
            <span class="temperature" data-hy-reference="currentTemperature">-</span>
            <span class="temperature-range">
                <span class="value min" data-hy-reference="currentTemperatureMin">-</span>
                <span class="bar">
                    <span class="current" data-hy-reference="currentTemperatureBar"></span>
                </span>
                <span class="value max" data-hy-reference="currentTemperatureMax">-</span>
            </span>
            <span class="caption" data-hy-reference="currentCaption">-</span>
            <span class="etc">
                <span class="item wind">
                    <img alt="" class="icon" src="./assets/images/index/side/default/current-weather.etc.wind.png">
                    <span class="value" data-hy-reference="currentWind">-</span>
                </span>
                <span class="item humidity">
                    <img alt="" class="icon" src="./assets/images/index/side/default/current-weather.etc.humidity.png">
                    <span class="value" data-hy-reference="currentHumidity">-</span>
                </span>
            </span>
        </div>
        <div class="today-weather" data-hy-reference="todayWeather">
            <div class="item" data-hy-reference="item">
                <span class="time">지금</span>
                <img alt="" class="icon" src="./assets/images/index/side/default/current-weather/partly-cloudy-day.svg">
                <span class="temperature">30</span>
            </div>
            <div class="item" data-hy-reference="item">
                <span class="time">13시</span>
                <img alt="" class="icon" src="./assets/images/index/side/default/current-weather/partly-cloudy-day.svg">
                <span class="temperature">33</span>
            </div>
            <div class="item" data-hy-reference="item">
                <span class="time">14시</span>
                <img alt="" class="icon" src="./assets/images/index/side/default/current-weather/partly-cloudy-day.svg">
                <span class="temperature">35</span>
            </div>
            <div class="item" data-hy-reference="item">
                <span class="time">15시</span>
                <img alt="" class="icon" src="./assets/images/index/side/default/current-weather/cloudy.svg">
                <span class="temperature">36</span>
            </div>
            <div class="item" data-hy-reference="item">
                <span class="time">16시</span>
                <img alt="" class="icon" src="./assets/images/index/side/default/current-weather/cloudy.svg">
                <span class="temperature">35</span>
            </div>
            <div class="item" data-hy-reference="item">
                <span class="time">17시</span>
                <img alt="" class="icon" src="./assets/images/index/side/default/current-weather/cloudy.svg">
                <span class="temperature">33</span>
            </div>
            <div class="item" data-hy-reference="item">
                <span class="time">18시</span>
                <img alt="" class="icon" src="./assets/images/index/side/default/current-weather/cloudy.svg">
                <span class="temperature">31</span>
            </div>
            <div class="item" data-hy-reference="item">
                <span class="time">19시</span>
                <img alt="" class="icon" src="./assets/images/index/side/default/current-weather/cloudy.svg">
                <span class="temperature">30</span>
            </div>
            <div class="item" data-hy-reference="item">
                <span class="time">20시</span>
                <img alt="" class="icon" src="./assets/images/index/side/default/current-weather/cloudy.svg">
                <span class="temperature">29</span>
            </div>
        </div>
        <div class="daily-weather" data-hy-reference="dailyWeather">
            <div class="item" data-hy-reference="item">
                <span class="date">오늘</span>
                <img alt="" class="icon" src="./assets/images/index/side/default/current-weather/cloudy.svg">
                <span class="-flex-stretch" role="none"></span>
                <span class="temperature min">28</span>
                <span class="temperature max">33</span>
            </div>
            <div class="item" data-hy-reference="item">
                <span class="date">화</span>
                <img alt="" class="icon" src="./assets/images/index/side/default/current-weather/cloudy.svg">
                <span class="-flex-stretch" role="none"></span>
                <span class="temperature min">30</span>
                <span class="temperature max">35</span>
            </div>
            <div class="item" data-hy-reference="item">
                <span class="date">수</span>
                <img alt="" class="icon" src="./assets/images/index/side/default/current-weather/partly-cloudy-day.svg">
                <span class="-flex-stretch" role="none"></span>
                <span class="temperature min">29</span>
                <span class="temperature max">34</span>
            </div>
            <div class="item" data-hy-reference="item">
                <span class="date">목</span>
                <img alt="" class="icon" src="./assets/images/index/side/default/current-weather/rain.svg">
                <span class="-flex-stretch" role="none"></span>
                <span class="temperature min">26</span>
                <span class="temperature max">31</span>
            </div>
            <div class="item" data-hy-reference="item">
                <span class="date">금</span>
                <img alt="" class="icon" src="./assets/images/index/side/default/current-weather/thunderstorms-day-rain.svg">
                <span class="-flex-stretch" role="none"></span>
                <span class="temperature min">26</span>
                <span class="temperature max">30</span>
            </div>
            <div class="item" data-hy-reference="item">
                <span class="date">토</span>
                <img alt="" class="icon" src="./assets/images/index/side/default/current-weather/rain.svg">
                <span class="-flex-stretch" role="none"></span>
                <span class="temperature min">27</span>
                <span class="temperature max">30</span>
            </div>
            <div class="item" data-hy-reference="item">
                <span class="date">일</span>
                <img alt="" class="icon" src="./assets/images/index/side/default/current-weather/cloudy.svg">
                <span class="-flex-stretch" role="none"></span>
                <span class="temperature min">26</span>
                <span class="temperature max">31</span>
            </div>
        </div>
    </div>
    <form novalidate class="body add" data-hy-reference="body" data-hy-name="add">
        <label data-hy-object="label" data-hy-name="group">
            <span data-hy-component="label.caption">그룹</span>
            <select class="-flex-stretch" name="group" data-hy-object="field" data-hy-theme="box" data-hy-component="label.field">
                <option value="0">(기본)</option>
            </select>
            <span data-hy-component="label.message">그룹을 선택해 주세요.</span>
        </label>
        <label data-hy-object="label" data-hy-name="due">
            <span data-hy-component="label.caption">일시 (시작, 종료)</span>
            <span data-hy-component="label.row">
                <input autocomplete="off" class="-flex-stretch" name="startAt" type="datetime-local" data-hy-object="field" data-hy-theme="box" data-hy-component="label.field">
                <input autocomplete="off" class="-flex-stretch" name="endAt" type="datetime-local" data-hy-object="field" data-hy-theme="box" data-hy-component="label.field">
            </span>
            <span data-hy-component="label.message">일시를 선택해 주세요.</span>
        </label>
        <label class="check all-day" data-hy-object="checkLabel">
            <input name="allDay" type="checkbox" data-hy-component="checkLabel.input">
            <span data-hy-component="checkLabel.box"></span>
            <span data-hy-component="checkLabel.caption">종일</span>
        </label>
        <label data-hy-object="label" data-hy-name="title">
            <span data-hy-component="label.caption">제목</span>
            <input autocomplete="off" class="-flex-stretch" maxlength="100" minlength="1" name="title" placeholder="제목을 입력해 주세요." type="text" data-hy-object="field" data-hy-theme="box" data-hy-component="label.field">
            <span data-hy-component="label.message">제목을 입력해 주세요.</span>
        </label>
        <label data-hy-object="label" data-hy-name="location">
            <span data-hy-component="label.caption">위치</span>
            <span data-hy-component="label.row">
                <input autocomplete="off" class="-flex-stretch" maxlength="50" minlength="1" name="locationKeyword" placeholder="검색할 장소를 입력해 주세요." type="text" data-hy-object="field" data-hy-theme="box" data-hy-component="label.field">
                <button name="locationSearchButton" type="button" data-hy-object="button" data-hy-color="main" data-hy-border-radius="none">
                    <span data-hy-component="button.caption">검색</span>
                </button>
                <button name="locationRemoveButton" type="button" data-hy-object="button" data-hy-color="gray" data-hy-border-radius="none">
                    <span data-hy-component="button.caption">위치 정보 삭제</span>
                </button>
            </span>
            <span data-hy-component="label.message">검색할 장소를 입력해 주세요.</span>
        </label>
        <ul class="location-list" data-hy-reference="locationList">
            <li class="message -visible" data-hy-reference="message" data-hy-name="empty">검색 결과가 없습니다.</li>
        </ul>
        <div class="map" data-hy-reference="map"></div>
        <label class="address-label" data-hy-object="label" data-hy-name="address">
            <span data-hy-component="label.caption">주소</span>
            <input readonly autocomplete="off" class="-flex-stretch" maxlength="100" minlength="1" name="addressPrimary" type="text" data-hy-object="field" data-hy-theme="box" data-hy-component="label.field">
            <input autocomplete="off" class="-flex-stretch" maxlength="100" minlength="0" name="addressSecondary" placeholder="상세 주소를 입력해 주세요." type="text" data-hy-object="field" data-hy-theme="box" data-hy-component="label.field">
            <input hidden readonly name="latitude" type="hidden">
            <input hidden readonly name="longitude" type="hidden">
        </label>
        <div class="message">첨부 파일은 스케줄 등록 후 추가할 수 있습니다.</div>
        <div class="-flex-stretch"></div>
        <div class="button-container">
            <button name="cancel" type="button" data-hy-object="button" data-hy-color="gray" data-hy-border-radius="none">
                <span data-hy-component="button.caption">취소</span>
            </button>
            <button type="submit" data-hy-object="button" data-hy-color="main" data-hy-border-radius="none">
                <span data-hy-component="button.caption">추가</span>
            </button>
        </div>
    </form>
    <div class="body view" data-hy-reference="body" data-hy-name="view">
        <h2 class="title">
            <span class="title -flex-stretch" data-hy-reference="title">제목 자리</span>
            <span class="due" data-hy-reference="due"></span>
        </h2>
        <div class="location" data-hy-reference="location">
            <div class="map" data-hy-reference="map"></div>
            <div class="address-container">
                <span class="primary" data-hy-reference="addressPrimary"></span>
                <span class="secondary" data-hy-reference="addressSecondary"></span>
            </div>
        </div>
        <ul class="attachment-list" data-hy-reference="attachmentList">
            <li class="message -visible" data-hy-reference="message" data-hy-name="empty">첨부 파일이 없습니다.</li>
            <li class="message" data-hy-reference="message" data-hy-name="error">첨부 파일 목록을 불러오지 못하였습니다.</li>
        </ul>
        <div class="attachment-action-container">
            <a class="action" href="#" data-hy-reference="uploadAnchor">첨부 파일 추가</a>
        </div>
        <ul class="article-list" data-hy-reference="articleList">
            <li class="title">게시글 (<span data-hy-reference="articleCount">0</span>)</li>
            <li class="write-form-wrapper">
                <form novalidate class="write-form" data-hy-reference="writeForm">
                    <label class="content-label">
                        <textarea name="content"></textarea>
                    </label>
                    <button type="submit" data-hy-object="button" data-hy-color="main" data-hy-border-radius="none">
                        <span data-hy-component="button.caption">새로운 게시글 작성하기</span>
                    </button>
                </form>
            </li>
            <li class="message" data-hy-reference="message" data-hy-name="empty">게시글이 없습니다.</li>
            <li class="message" data-hy-reference="message" data-hy-name="error">게시글을 불러오지 못하였습니다.</li>
        </ul>
    </div>
    <form novalidate class="body modify" data-hy-reference="body" data-hy-name="modify">
        <label data-hy-object="label" data-hy-name="group">
            <span data-hy-component="label.caption">그룹</span>
            <select class="-flex-stretch" name="group" data-hy-object="field" data-hy-theme="box" data-hy-component="label.field">
                <option value="0">(기본)</option>
            </select>
            <span data-hy-component="label.message">그룹을 선택해 주세요.</span>
        </label>
        <label data-hy-object="label" data-hy-name="due">
            <span data-hy-component="label.caption">일시 (시작, 종료)</span>
            <span data-hy-component="label.row">
                <input autocomplete="off" class="-flex-stretch" name="startAt" type="datetime-local" data-hy-object="field" data-hy-theme="box" data-hy-component="label.field">
                <input autocomplete="off" class="-flex-stretch" name="endAt" type="datetime-local" data-hy-object="field" data-hy-theme="box" data-hy-component="label.field">
            </span>
            <span data-hy-component="label.message">일시를 선택해 주세요.</span>
        </label>
        <label class="check all-day" data-hy-object="checkLabel">
            <input name="allDay" type="checkbox" data-hy-component="checkLabel.input">
            <span data-hy-component="checkLabel.box"></span>
            <span data-hy-component="checkLabel.caption">종일</span>
        </label>
        <label data-hy-object="label" data-hy-name="title">
            <span data-hy-component="label.caption">제목</span>
            <input autocomplete="off" class="-flex-stretch" maxlength="100" minlength="1" name="title" placeholder="제목을 입력해 주세요." type="text" data-hy-object="field" data-hy-theme="box" data-hy-component="label.field">
            <span data-hy-component="label.message">제목을 입력해 주세요.</span>
        </label>
        <label data-hy-object="label" data-hy-name="location">
            <span data-hy-component="label.caption">위치</span>
            <span data-hy-component="label.row">
                <input autocomplete="off" class="-flex-stretch" maxlength="50" minlength="1" name="locationKeyword" placeholder="검색할 장소를 입력해 주세요." type="text" data-hy-object="field" data-hy-theme="box" data-hy-component="label.field">
                <button name="locationSearchButton" type="button" data-hy-object="button" data-hy-color="main" data-hy-border-radius="none">
                    <span data-hy-component="button.caption">검색</span>
                </button>
                <button name="locationRemoveButton" type="button" data-hy-object="button" data-hy-color="gray" data-hy-border-radius="none">
                    <span data-hy-component="button.caption">위치 정보 삭제</span>
                </button>
            </span>
            <span data-hy-component="label.message">검색할 장소를 입력해 주세요.</span>
        </label>
        <ul class="location-list" data-hy-reference="locationList">
            <li class="message -visible" data-hy-reference="message" data-hy-name="empty">검색 결과가 없습니다.</li>
        </ul>
        <div class="map" data-hy-reference="map"></div>
        <label class="address-label" data-hy-object="label" data-hy-name="address">
            <span data-hy-component="label.caption">주소</span>
            <input readonly autocomplete="off" class="-flex-stretch" maxlength="100" minlength="1" name="addressPrimary" type="text" data-hy-object="field" data-hy-theme="box" data-hy-component="label.field">
            <input autocomplete="off" class="-flex-stretch" maxlength="100" minlength="0" name="addressSecondary" placeholder="상세 주소를 입력해 주세요." type="text" data-hy-object="field" data-hy-theme="box" data-hy-component="label.field">
            <input hidden readonly name="latitude" type="hidden">
            <input hidden readonly name="longitude" type="hidden">
        </label>
        <div class="-flex-stretch"></div>
        <div class="button-container">
            <button name="cancel" type="button" data-hy-object="button" data-hy-color="gray" data-hy-border-radius="none">
                <span data-hy-component="button.caption">취소</span>
            </button>
            <button type="submit" data-hy-object="button" data-hy-color="main" data-hy-border-radius="none">
                <span data-hy-component="button.caption">수정</span>
            </button>
        </div>
    </form>
</section>
</body>
</html>