@charset "UTF-8";

@import "./../_def";

#schedule {
    @include flex(column, stretch, flex-start, 1rem);
    @include fixedWidth(30rem);
    @include fixedHeight(100vh);
    background-color: $global-background-color-light;
    border-left: 0.0625rem solid $global-border-color-light;
    display: none;
    order: 3;
    overflow: hidden auto;
    padding: 1rem;
    position: relative;

    &.-visible {
        display: flex;
    }

    &[data-hy-mode="view"] {
        [data-hy-for~="view"] {
            display: unset;
        }

        > [data-hy-reference="body"][data-hy-name="view"] {
            display: flex;
        }

        > .top > .title::before {
            content: '스케줄';
        }
    }

    &[data-hy-mode="add"] {
        [data-hy-for~="add"] {
            display: unset;
        }

        > [data-hy-reference="body"][data-hy-name="add"] {
            display: flex;
        }

        > .top > .title::before {
            content: '스케줄 추가';
        }
    }

    [data-hy-for] {
        display: none;
    }

    > .top {
        @include flex(row, center, flex-start, 0.5rem);
        border-bottom: 0.0625rem solid $global-border-color-light;
        padding-bottom: 0.5rem;

        > .title {
            font-size: 0.875rem;
            font-weight: 400;
        }

        > .menu {
            @include flex(row, stretch, flex-start, 0.25rem);

            > .item > .button {
                @include flex(row, center, center);
                border-radius: 0.25rem;
                cursor: pointer;
                padding: 0.375rem;
                transition-duration: 175ms;
                transition-property: background-color;
                transition-timing-function: ease;

                &:has(input:checked) > .icon {
                    transform: rotateZ(45deg);
                }

                &:has(input:checked),
                &:hover {
                    background-color: $global-background-color-light-darken-5;
                }

                > .icon {
                    @include fixedSize(1rem);
                    object-fit: contain;
                    object-position: center;
                    transition-duration: 175ms;
                    transition-property: transform;
                    transition-timing-function: ease;
                }
            }
        }
    }

    > .body {
        @include flex(column, stretch, flex-start, 1rem);
        display: none;

        &.add {
            @include flex(column, stretch, flex-start, 1rem);
            display: none;
            flex-grow: 1;
            flex-shrink: 1;

            &.-visible {
                display: flex;
            }

            .ck-content {
                @include fixedHeight(12.5rem);
                border-color: $global-border-color-light;
                border-bottom-left-radius: 0.5rem;
                border-bottom-right-radius: 0.5rem;
                box-shadow: none;
            }

            .ck-sticky-panel__content {
                border-color: $global-border-color-light;
                border-top-left-radius: 0.5rem;
                border-top-right-radius: 0.5rem;
                overflow: hidden;
            }

            > .check.all-day {
                margin-top: -0.5rem;
            }

            > .location-list {
                @include flex(column, stretch, flex-start);
                max-height: 12.5rem;
                background-color: $global-background-color-light-lighten-5;
                border: 0.0625rem solid $global-border-color-light;
                border-radius: 0.5rem;
                display: none;
                margin-top: -0.5rem;
                overflow: hidden auto;

                &.-visible {
                    display: flex;
                }

                > .message {
                    color: $global-text-color-light-lighten-40;
                    display: none;
                    font-style: italic;
                    line-height: 1.375;
                    padding: 2rem 1rem;
                    text-align: center;

                    &.-visible {
                        display: block;
                    }
                }

                > .item {
                    @include flex(column, stretch, flex-start, 0.25rem);
                    border-bottom: 0.0625rem solid $global-border-color-light;
                    cursor: pointer;
                    padding: 0.5rem 0.75rem;

                    &.-selected > .display-name {
                        color: #3498db;
                    }

                    > .address {
                        color: $global-text-color-light-lighten-40;
                    }
                }
            }

            > .map {
                height: 12.5rem;
                border: 0.0625rem solid $global-border-color-light;
                border-radius: 0.5rem;
                display: none;
                overflow: hidden;

                &.-visible {
                    display: block;
                }
            }

            > .address-label {
                display: none;

                &.-visible {
                    display: flex;
                }
            }

            > .message {
                background-color: #e8f8f5;
                border: 0.0625rem solid #d1f2eb;
                border-radius: 0.5rem;
                color: #148f77;
                padding: 0.5rem 0.75rem;
            }

            > .button-container {
                //@include flex(row, stretch, flex-end, 0.5rem);
                display: grid;
                gap: 0.5rem;
                grid-template-columns: repeat(2, minmax(0, 1fr));
                margin-top: -1rem;
            }
        }

        &.view {
            > .title {
                @include flex(row, center, flex-start, 0.5rem);
                color: $global-text-color-light-lighten-30;

                > .title {
                    font-size: 1.375rem;
                    font-weight: 100;
                }
            }

            > .location {
                @include flex(column, stretch, flex-start, 0.5rem);
                display: none;

                &.-visible {
                    display: flex;
                }

                > .map {
                    height: 10rem;
                    background-color: #ffffff;
                    border-radius: 0.5rem;
                    overflow: hidden;
                }

                > .address-container {
                    @include flex(row, center, flex-start, 0.25rem);
                    color: $global-text-color-light-lighten-50;

                    > .postal {
                        &::before {
                            content: '(';
                        }

                        &::after {
                            content: ')';
                        }
                    }
                }
            }

            > .attachment-list {
                @include flex(column, stretch, flex-start, 0.375rem);
                background-color: $global-background-color-light-lighten-5;
                border-radius: 0.5rem;
                font-size: 0.75rem;
                padding: 0.75rem;

                > .message {
                    color: $global-text-color-light-lighten-40;
                    display: none;
                    padding: 0.75rem;
                    text-align: center;

                    &.-visible {
                        display: block;
                    }
                }

                > .item {
                    @include flex(row, center, flex-start, 0.5rem);

                    &.uploading > .name {
                        color: $global-text-color-light-lighten-40;

                        &:hover {
                            text-decoration: none;
                        }
                    }

                    > .name {
                        color: #3498db;

                        &:hover {
                            text-decoration: underline;
                        }
                    }

                    > .size {
                        color: $global-text-color-light-lighten-50;
                        font-size: 0.75rem;

                        &::before {
                            content: '(';
                        }

                        &::after {
                            content: ')';
                        }
                    }

                    > .status {
                        &.working {
                            color: #3498db;
                        }

                        &.error {
                            color: #e74c3c;
                        }

                        &.complete {
                            color: #17a589;
                        }
                    }

                    > .action {
                        color: #3498db;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }

            > .attachment-action-container {
                @include flex(row, center, flex-end, 0.25rem);
                margin-top: -0.5rem;

                > .action {
                    color: #3498db;

                    &:hover {
                        text-decoration: underline;
                    }
                }
            }

            > .article-list {
                @include flex(column, stretch, flex-start, 0.5rem);

                > .title {
                    color: $global-text-color-light-lighten-30;
                    font-size: 1rem;
                    font-weight: 100;
                }

                > .message {
                    background-color: $global-background-color-light-lighten-5;
                    border-radius: 0.5rem;
                    color: $global-text-color-light-lighten-40;
                    display: none;
                    font-style: italic;
                    line-height: 1.375;
                    padding: 1rem;
                    text-align: center;

                    &.-visible {
                        display: block;
                    }
                }

                > .item {
                    @include flex(column, stretch, flex-start);
                    background-color: $global-background-color-light-lighten-5;
                    border-radius: 0.5rem;
                    overflow: hidden;

                    > .head {
                        @include flex(row, center, flex-start, 0.5rem);
                        border-bottom: 0.0625rem solid $global-background-color-light;
                        padding: 0.75rem;

                        > .timestamp {
                            color: $global-text-color-light-lighten-50;
                            flex-grow: 1;
                            flex-shrink: 1;
                        }

                        > .action {
                            color: #3498db;
                            cursor: pointer;

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }

                    > .image-container {
                        @include fixedHeight(12.5rem);
                        @include flex(row, stretch, flex-start);
                        border-bottom: 0.0625rem solid $global-background-color-light;
                        display: none;
                        overflow: auto hidden;
                        scroll-behavior: smooth;
                        scroll-snap-type: x mandatory;
                        -webkit-overflow-scrolling: touch;

                        &::-webkit-scrollbar {
                            width: 0.5rem;
                            height: 0.5rem;
                        }
                        &::-webkit-scrollbar-thumb {
                            background: $global-background-color-light-darken-10;
                            border-radius: 999rem;
                        }
                        &::-webkit-scrollbar-track {
                            background: transparent;
                        }

                        &.-visible {
                            display: flex;
                        }

                        > .image-wrapper {
                            @include fixedWidth(100%);
                            scroll-snap-align: start;

                            > .image {
                                @include fixedWidth(100%);
                                @include fixedHeight(100%);
                                object-fit: cover;
                                object-position: center;
                            }
                        }
                    }

                    > .content {
                        border-bottom: 0.0625rem solid $global-background-color-light;
                        padding: 0.75rem;
                    }

                    > .foot {
                        @include flex(row, center, flex-start, 0.5rem);
                        padding: 0.5rem 0.75rem;

                        > .stat {
                            @include flex(row, center, center, 0.25rem);
                            color: $global-text-color-light-lighten-50;
                            cursor: pointer;
                            font-size: 0.75rem;

                            > .icon {
                                @include fixedSize(0.9375rem);
                                object-fit: contain;
                                object-position: center;
                            }
                        }
                    }
                }
            }
        }
    }
}