<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hml.planat.mappers.ScheduleMapper">
    <insert id="insert"
            useGeneratedKeys="true"
            keyColumn="id"
            keyProperty="id">
        INSERT INTO `planat`.`schedules`(`user_email`, `group_id`, `title`, `start_at`, `end_at`,
                                          `address_primary`, `address_secondary`, `latitude`,
                                         `longitude`)
        VALUES (#{schedule.userEmail}, #{schedule.groupId}, #{schedule.title}, #{schedule.startAt},
                #{schedule.endAt}, #{schedule.addressPrimary}, #{schedule.addressSecondary},
                #{schedule.latitude}, #{schedule.longitude})
    </insert>
    <update id="update">
        UPDATE `planat`.`schedules`
        SET `user_email`        = #{userEmail},
            `group_id`          = #{groupId},
            `title`             = #{title},
            `start_at`          = #{startAt},
            `end_at`            = #{endAt},
            `address_primary`   = #{addressPrimary},
            `address_secondary` = #{addressSocondary},
            `latitude`          = #{latitude},
            `longitude`         = #{longitude}
        WHERE `id` = #{schedule.id}
        LIMIT 1
    </update>
    <delete id="delete">
        DELETE
        FROM `planat`.`schedules`
        WHERE `id` = #{schedule.id}
        LIMIT 1
    </delete>
    <select id="selectAll"><![CDATA[
        SELECT `T0`.`id`                AS `id`,
               `T0`.`user_email`        AS `userEmail`,
               `T0`.`group_id`          AS `groupId`,
               `T0`.`title`             AS `title`,
               `T0`.`start_at`          AS `startAt`,
               `T0`.`end_at`            AS `endAt`,
               `T0`.`address_primary`   AS `addressPrimary`,
               `T0`.`address_secondary` AS `addressSecondary`,
               `T0`.`latitude`          AS `latitude`,
               `T0`.`longitude`         AS `longitude`
        FROM (SELECT `T1`.*
              FROM `planat`.`group_user_mappings` AS `T0`
                       RIGHT JOIN `planat`.`schedules` AS `T1` ON `T1`.`group_id` = `T0`.`group_id`
              WHERE `T0`.`user_email` = #{userEmail}
                AND `T0`.`is_accepted` = TRUE
                AND (`T1`.`start_at` BETWEEN #{from} AND #{to} OR `T1`.`end_at` BETWEEN #{from} AND #{to})
              UNION ALL
              SELECT `T0`.*
              FROM `planat`.`schedules` AS `T0`
              WHERE `T0`.`group_id` IS NULL
                AND `T0`.`user_email` = #{userEmail}
                AND (`T0`.`start_at` BETWEEN #{from} AND #{to} OR `T0`.`end_at` BETWEEN #{from} AND #{to})) AS `T0`
        ORDER BY `T0`.`id`
        ]]></select>
    <select id="selectByIdAndUserEmail" resultType="com.hml.planat.entities.schedules.ScheduleEntity">
        SELECT `id`                AS `id`,
               `user_email`        AS `userEmail`,
               `group_id`          AS `groupId`,
               `title`             AS `title`,
               `start_at`          AS `startAt`,
               `end_at`            AS `endAt`,
               `address_primary`   AS `addressPrimary`,
               `address_secondary` AS `addressSecondary`,
               `latitude`          AS `latitude`,
               `longitude`         AS `longitude`
        FROM `planat`.`schedules`
        WHERE `id` = #{id}
          AND `user_email` = #{userEmail}
    </select>
    <select id="selectById" resultType="com.hml.planat.entities.schedules.ScheduleEntity">
        SELECT `id`                AS `id`,
               `user_email`        AS `userEmail`,
               `group_id`          AS `groupId`,
               `title`             AS `title`,
               `start_at`          AS `startAt`,
               `end_at`            AS `endAt`,
               `address_primary`   AS `addressPrimary`,
               `address_secondary` AS `addressSecondary`,
               `latitude`          AS `latitude`,
               `longitude`         AS `longitude`
        FROM `planat`.`schedules`
        WHERE `id` = #{id}
        LIMIT 1
    </select>
</mapper>












