@charset "UTF-8";

@use "sass:color";

$global-background-color-dark: #212121;
$global-background-color-dark-lighten-2_5: color.adjust($global-background-color-dark, $lightness: 2.5%);
$global-background-color-dark-lighten-5: color.adjust($global-background-color-dark, $lightness: 5%);
$global-background-color-light: #fafafa;
$global-background-color-light-darken-2_5: color.adjust($global-background-color-light, $lightness: -2.5%);
$global-background-color-light-darken-5: color.adjust($global-background-color-light, $lightness: -5%);
$global-background-color-light-darken-10: color.adjust($global-background-color-light, $lightness: -10%);
$global-background-color-light-darken-15: color.adjust($global-background-color-light, $lightness: -15%);
$global-background-color-light-darken-20: color.adjust($global-background-color-light, $lightness: -20%);
$global-background-color-light-lighten-5: color.adjust($global-background-color-light, $lightness: 5%);

$global-border-color-dark: color.adjust($global-background-color-dark, $lightness: 10%);
$global-border-color-dark-lighten-2_5: color.adjust($global-border-color-dark, $lightness: 2.5%);
$global-border-color-dark-lighten-5: color.adjust($global-border-color-dark, $lightness: 5%);
$global-border-color-dark-lighten-10: color.adjust($global-border-color-dark, $lightness: 10%);
$global-border-color-dark-lighten-20: color.adjust($global-border-color-dark, $lightness: 20%);
$global-border-color-light: color.adjust($global-background-color-light, $lightness: -5%);
$global-border-color-light-darken-2_5: color.adjust($global-border-color-light, $lightness: -2.5%);
$global-border-color-light-darken-5: color.adjust($global-border-color-light, $lightness: -5%);
$global-border-color-light-darken-10: color.adjust($global-border-color-light, $lightness: -10%);
$global-border-color-light-darken-20: color.adjust($global-border-color-light, $lightness: -20%);

$global-text-color-dark: #f6f6f6;
$global-text-color-dark-darken-10: color.adjust($global-text-color-dark, $lightness: -10%);
$global-text-color-dark-darken-20: color.adjust($global-text-color-dark, $lightness: -20%);
$global-text-color-dark-darken-30: color.adjust($global-text-color-dark, $lightness: -30%);
$global-text-color-dark-darken-40: color.adjust($global-text-color-dark, $lightness: -40%);
$global-text-color-dark-darken-50: color.adjust($global-text-color-dark, $lightness: -50%);
$global-text-color-light: #212121;
$global-text-color-light-lighten-10: color.adjust($global-text-color-light, $lightness: 10%);
$global-text-color-light-lighten-20: color.adjust($global-text-color-light, $lightness: 20%);
$global-text-color-light-lighten-30: color.adjust($global-text-color-light, $lightness: 30%);
$global-text-color-light-lighten-40: color.adjust($global-text-color-light, $lightness: 40%);
$global-text-color-light-lighten-50: color.adjust($global-text-color-light, $lightness: 50%);
$global-text-color-light-lighten-75: color.adjust($global-text-color-light, $lightness: 75%);

$global-concept-color-tendril: #899f6b;
$global-concept-color-cornflower-blue: #7391c9;
$global-concept-color-viola: #a793b9;
$global-concept-color-rose-tan: #d19c97;
$global-concept-color-mocha-mousse: #a47764;
$global-concept-color-cobblestone: #a89b8f;
$global-concept-color-gardenia: #f0e9e0;
$global-concept-color-main: $global-concept-color-mocha-mousse;

@mixin flex($flex-direction, $align-items: center, $justify-content: center, $gap: 0) {
    align-items: $align-items;
    display: flex;
    flex-direction: $flex-direction;
    gap: $gap;
    justify-content: $justify-content;

    > * {
        flex-grow: 0;
        flex-shrink: 0;
    }

    > .-flex-stretch {
        flex-grow: 1;
        flex-shrink: 1;
    }
}

@mixin fixedHeight($h) {
    height: $h;
    max-height: $h;
    min-height: $h;
}

@mixin fixedWidth($w) {
    width: $w;
    max-width: $w;
    min-width: $w;
}

@mixin fixedSize($w, $h: $w) {
    @include fixedWidth($w);
    @include fixedHeight($h);
}