@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
[data-hy-object=button] {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0.375rem;
  justify-content: center;
  height: 2rem;
  border-radius: 999rem;
  cursor: pointer;
  padding: 0 1.25rem;
  transition-duration: 175ms;
  transition-property: background-color, color;
  transition-timing-function: ease;
  user-select: none;
}
[data-hy-object=button] > * {
  flex-grow: 0;
  flex-shrink: 0;
}
[data-hy-object=button] > .-flex-stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
[data-hy-object=button]:focus {
  outline: 0.125rem solid #212121;
}
[data-hy-object=button][data-hy-color=cobblestone] {
  background-color: #a89b8f;
  color: #f6f6f6;
}
[data-hy-object=button][data-hy-color=cobblestone]:hover {
  background-color: rgb(162.425879397, 148.5929648241, 135.824120603);
  color: rgb(239.625, 239.625, 239.625);
}
[data-hy-object=button][data-hy-color=cobblestone]:active {
  background-color: rgb(156.851758794, 142.1859296482, 128.648241206);
  color: rgb(239.625, 239.625, 239.625);
}
[data-hy-object=button][data-hy-color=cornflowerBlue] {
  background-color: #7391c9;
  color: #f6f6f6;
}
[data-hy-object=button][data-hy-color=cornflowerBlue]:hover {
  background-color: rgb(105.7989690722, 137.7706185567, 197.4510309278);
  color: rgb(239.625, 239.625, 239.625);
}
[data-hy-object=button][data-hy-color=cornflowerBlue]:active {
  background-color: rgb(96.5979381443, 130.5412371134, 193.9020618557);
  color: rgb(239.625, 239.625, 239.625);
}
[data-hy-object=button][data-hy-color=main], [data-hy-object=button][data-hy-color=mochaMousse] {
  background-color: #a47764;
  color: #f6f6f6;
}
[data-hy-object=button][data-hy-color=main]:hover, [data-hy-object=button][data-hy-color=mochaMousse]:hover {
  background-color: rgb(158.3079268293, 112.3475609756, 92.9420731707);
  color: rgb(239.625, 239.625, 239.625);
}
[data-hy-object=button][data-hy-color=main]:active, [data-hy-object=button][data-hy-color=mochaMousse]:active {
  background-color: rgb(150.2743902439, 106.6463414634, 88.2256097561);
  color: rgb(239.625, 239.625, 239.625);
}
[data-hy-object=button][data-hy-color=gray] {
  background-color: #a0a0a0;
  color: #f6f6f6;
}
[data-hy-object=button][data-hy-color=gray]:hover {
  background-color: rgb(153.625, 153.625, 153.625);
  color: rgb(239.625, 239.625, 239.625);
}
[data-hy-object=button][data-hy-color=gray]:active {
  background-color: rgb(147.25, 147.25, 147.25);
  color: rgb(239.625, 239.625, 239.625);
}
[data-hy-object=button][data-hy-color=lightGray] {
  background-color: #bdbdbd;
  color: #f6f6f6;
}
[data-hy-object=button][data-hy-color=lightGray]:hover {
  background-color: rgb(182.625, 182.625, 182.625);
  color: rgb(239.625, 239.625, 239.625);
}
[data-hy-object=button][data-hy-color=lightGray]:active {
  background-color: rgb(176.25, 176.25, 176.25);
  color: rgb(239.625, 239.625, 239.625);
}
[data-hy-object=button][data-hy-color=lightGreen] {
  background-color: #73c6b6;
  color: #ffffff;
}
[data-hy-object=button][data-hy-color=lightGreen]:hover {
  background-color: rgb(105.9390862944, 194.3109137056, 177.2753807107);
  color: rgb(248.625, 248.625, 248.625);
}
[data-hy-object=button][data-hy-color=lightGreen]:active {
  background-color: rgb(96.8781725888, 190.6218274112, 172.5507614213);
  color: rgb(248.625, 248.625, 248.625);
}
[data-hy-object=button][data-hy-color=roseTan] {
  background-color: #d19c97;
  color: #ffffff;
}
[data-hy-object=button][data-hy-color=roseTan]:hover {
  background-color: rgb(205.09, 147.585, 142.16);
  color: rgb(248.625, 248.625, 248.625);
}
[data-hy-object=button][data-hy-color=roseTan]:active {
  background-color: rgb(201.18, 139.17, 133.32);
  color: rgb(248.625, 248.625, 248.625);
}
[data-hy-object=button][data-hy-color=tendril] {
  background-color: #899f6b;
  color: #ffffff;
}
[data-hy-object=button][data-hy-color=tendril]:hover {
  background-color: rgb(130.7766393443, 153.6106557377, 99.6393442623);
  color: rgb(248.625, 248.625, 248.625);
}
[data-hy-object=button][data-hy-color=tendril]:active {
  background-color: rgb(124.1926229508, 145.8770491803, 94.6229508197);
  color: rgb(248.625, 248.625, 248.625);
}
[data-hy-object=button][data-hy-border-radius=none] {
  border-radius: 0.5rem;
}
[data-hy-object=button]:disabled {
  background-color: rgb(211.75, 211.75, 211.75);
  cursor: default;
}
[data-hy-object=button]:disabled:hover {
  background-color: rgb(211.75, 211.75, 211.75);
}
[data-hy-object=button]:disabled:active {
  background-color: rgb(211.75, 211.75, 211.75);
}
[data-hy-object=button] > [data-hy-component~="button.icon"] {
  width: 1rem;
  max-width: 1rem;
  min-width: 1rem;
  height: 1rem;
  max-height: 1rem;
  min-height: 1rem;
  object-fit: contain;
  object-position: center;
}

[data-hy-object=checkLabel] {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0.375rem;
  justify-content: flex-start;
  cursor: pointer;
  user-select: none;
}
[data-hy-object=checkLabel] > * {
  flex-grow: 0;
  flex-shrink: 0;
}
[data-hy-object=checkLabel] > .-flex-stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
[data-hy-object=checkLabel]:hover > [data-hy-component~="checkLabel.box"] {
  border-color: rgb(230.875, 230.875, 230.875);
}
[data-hy-object=checkLabel]:active > [data-hy-component~="checkLabel.box"] {
  border-color: rgb(224.5, 224.5, 224.5);
}
[data-hy-object=checkLabel].-invalid > [data-hy-component~="checkLabel.caption"] {
  color: #e74c3c;
}
[data-hy-object=checkLabel].-invalid > [data-hy-component~="checkLabel.message"] {
  color: #e74c3c;
  display: block;
}
[data-hy-object=checkLabel] > [data-hy-component~="checkLabel.input"] {
  display: none;
}
[data-hy-object=checkLabel] > [data-hy-component~="checkLabel.input"]:checked + [data-hy-component~="checkLabel.box"] {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAACXBIWXMAAAsTAAALEwEAmpwYAAABRUlEQVR4nO3UvUrEQBSG4WglCv6BeiUWgjaKjYiVF+AFeAuCndgIaqeddnoRNlaWIoIiCIKgCLthk/ebQnePRKIswyxk11mw8INpksM8M5PJSZL//IU45zYkHTQajam+IZLmgA9JJuk1z/PV6IiZDQN3JfI1AGdmg1EhSfvtSDnOYiPzQNND3rIsm4mGmNkI8ODvBlhPYkbSUQA5jYo455aBlgc9p2k6GQ2p1WpjwJO/mzzPVypPkqbpBLBT/BedaoCTwC07rozU6/VxSVflWeOcWwoga4Hv8mhmo5Uh4MKboMAWv98XrUXSi1fTaq+pCl0GVvuDSToPHNlh0m2yLJuWdBPCJO0Fnt8X7SfpJeXxXAdW7iNNSQs9Id1gwO6vkCoYcGtmQ1GgThjwDswmseNfEGA7OtLeciRtAZtmNtA36D9JIJ+/JU/urZNSlAAAAABJRU5ErkJggg==");
  background-color: #a47764;
  border-color: #a47764;
}
[data-hy-object=checkLabel] > [data-hy-component~="checkLabel.box"] {
  width: 0.9375rem;
  max-width: 0.9375rem;
  min-width: 0.9375rem;
  height: 0.9375rem;
  max-height: 0.9375rem;
  min-height: 0.9375rem;
  background-color: hsl(0, 0%, 103.0392156863%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 85%;
  border: 0.0625rem solid rgb(237.25, 237.25, 237.25);
  border-radius: 0.25rem;
  flex-grow: 0;
  flex-shrink: 0;
  transition-duration: 175ms;
  transition-property: border-color;
  transition-timing-function: ease;
}
[data-hy-object=checkLabel] > [data-hy-component~="checkLabel.caption"] {
  flex-grow: 1;
  flex-shrink: 1;
}
[data-hy-object=checkLabel] > [data-hy-component~="checkLabel.message"] {
  display: none;
  font-size: 0.75rem;
  grid-column-start: 2;
}

[data-hy-object=cover] {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  height: 100%;
  max-height: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(66, 66, 66, 0.6274509804);
  opacity: 0;
  pointer-events: none;
  position: fixed;
  transition-duration: 175ms;
  transition-property: opacity;
  transition-timing-function: ease;
  z-index: 6;
}
[data-hy-object=cover].-visible {
  opacity: 1;
  pointer-events: auto;
}

body.-theme-dark [data-hy-object=cover] {
  background-color: rgba(33, 33, 33, 0.6274509804);
}

body:has([data-hy-object=cover].-visible) {
  overflow: hidden;
}

[data-hy-object=dialog] {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(66, 66, 66, 0.6274509804);
  opacity: 0;
  perspective: 50cm;
  pointer-events: none;
  position: fixed;
  transition-duration: 175ms;
  transition-property: opacity;
  transition-timing-function: ease;
  z-index: 8;
}
[data-hy-object=dialog].-visible {
  opacity: 1;
  pointer-events: auto;
}
[data-hy-object=dialog] > [data-hy-component~="dialog.modal"] {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  justify-content: flex-start;
  top: 50%;
  left: 50%;
  max-width: 30rem;
  min-width: 20rem;
  max-height: calc(100vh - 4rem);
  background-color: #fafafa;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem rgba(33, 33, 33, 0.062745098);
  opacity: 0;
  overflow: hidden auto;
  padding: 1.425rem 1.75rem;
  pointer-events: none;
  position: fixed;
  transform: rotateY(0deg) scale(97.5%) translate(-50%, -50%);
  transform-origin: top left;
  transition-duration: 175ms;
  transition-property: filter, opacity, transform;
  transition-timing-function: ease;
}
[data-hy-object=dialog] > [data-hy-component~="dialog.modal"] > * {
  flex-grow: 0;
  flex-shrink: 0;
}
[data-hy-object=dialog] > [data-hy-component~="dialog.modal"] > .-flex-stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
[data-hy-object=dialog] > [data-hy-component~="dialog.modal"].-visible {
  opacity: 1;
  pointer-events: auto;
  transform: rotateX(0deg) scale(100%) translate(-50%, -50%);
}
[data-hy-object=dialog] > [data-hy-component~="dialog.modal"].-collapsed {
  filter: brightness(75%);
  pointer-events: none;
  transform: rotateX(10deg) scale(97.5%) translate(-50%, -50%);
}
[data-hy-object=dialog] > [data-hy-component~="dialog.modal"] > [data-hy-component~="dialog.modal.title"] {
  font-weight: 400;
}
[data-hy-object=dialog] > [data-hy-component~="dialog.modal"] > [data-hy-component~="dialog.modal.content"] {
  line-height: 1.375;
}
[data-hy-object=dialog] > [data-hy-component~="dialog.modal"] > [data-hy-component~="dialog.modal.buttonContainer"] {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: flex-end;
}
[data-hy-object=dialog] > [data-hy-component~="dialog.modal"] > [data-hy-component~="dialog.modal.buttonContainer"] > * {
  flex-grow: 0;
  flex-shrink: 0;
}
[data-hy-object=dialog] > [data-hy-component~="dialog.modal"] > [data-hy-component~="dialog.modal.buttonContainer"] > .-flex-stretch {
  flex-grow: 1;
  flex-shrink: 1;
}

body:has([data-hy-object=dialog].-visible) {
  overflow: hidden;
}

[data-hy-object=field] {
  height: 2rem;
  max-height: 2rem;
  min-height: 2rem;
  width: 100%;
  border-bottom: 0.1rem solid rgb(237.25, 237.25, 237.25);
  color: #878787;
  cursor: text;
  transition-duration: 175ms;
  transition-property: border-bottom-color, color;
}
[data-hy-object=field]:hover {
  border-color: rgb(230.875, 230.875, 230.875);
  color: rgb(109.5, 109.5, 109.5);
}
[data-hy-object=field]:focus {
  border-color: rgb(186.25, 186.25, 186.25);
  color: #212121;
}
[data-hy-object=field]:disabled {
  color: rgb(109.5, 109.5, 109.5);
  cursor: default;
}
[data-hy-object=field][data-hy-theme=box] {
  background-color: hsl(0, 0%, 103.0392156863%);
  outline: 0.0625rem solid rgb(237.25, 237.25, 237.25);
  border: none;
  border-radius: 0.5rem;
  padding: 0 0.625rem;
}
[data-hy-object=field][data-hy-theme=box]:hover {
  outline-color: rgb(224.5, 224.5, 224.5);
}
[data-hy-object=field][data-hy-theme=box]:focus {
  outline-color: rgb(211.75, 211.75, 211.75);
}
[data-hy-object=field][data-hy-theme=box]:disabled {
  background-color: #fafafa;
  color: rgb(160.5, 160.5, 160.5);
  outline-color: rgb(237.25, 237.25, 237.25);
}

input[data-hy-object=field][type=color] {
  width: 100%;
  height: calc(100% + 0.75rem);
  appearance: none;
  border-bottom: none;
  cursor: pointer;
  margin: -0.375rem;
  overflow: hidden;
}

select[data-hy-object=field] {
  cursor: default;
}

textarea[data-hy-object=field] {
  height: revert;
  max-height: revert;
  min-height: revert;
  background-color: hsl(0, 0%, 103.0392156863%);
  border: 0.1rem solid rgb(237.25, 237.25, 237.25);
  padding: 0.625rem;
  resize: both;
}
textarea[data-hy-object=field][data-hy-resize=horizontal] {
  resize: horizontal;
}
textarea[data-hy-object=field][data-hy-resize=none] {
  resize: none;
}
textarea[data-hy-object=field][data-hy-resize=vertical] {
  resize: vertical;
}

body.-theme-dark [data-hy-object=field] {
  border-bottom-color: rgb(58.5, 58.5, 58.5);
  color: #909090;
}
body.-theme-dark [data-hy-object=field]:hover {
  border-color: rgb(64.875, 64.875, 64.875);
  color: rgb(169.5, 169.5, 169.5);
}
body.-theme-dark [data-hy-object=field]:focus {
  border-color: rgb(109.5, 109.5, 109.5);
  color: #f6f6f6;
}

[data-hy-object=label] {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
  justify-content: flex-start;
  position: relative;
}
[data-hy-object=label] > * {
  flex-grow: 0;
  flex-shrink: 0;
}
[data-hy-object=label] > .-flex-stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
[data-hy-object=label]:has([data-hy-component~="label.field"]:disabled) > [data-hy-component~="label.icon"] {
  filter: brightness(110%);
}
[data-hy-object=label]:has(> [data-hy-component~="label.icon"]) [data-hy-component~="label.field"] {
  padding-left: 1.5rem;
}
[data-hy-object=label]:hover > [data-hy-component~="label.icon"] {
  filter: brightness(90%);
}
[data-hy-object=label]:hover > [data-hy-component~="label.caption"] {
  color: #878787;
}
[data-hy-object=label]:focus-within > [data-hy-component~="label.icon"] {
  filter: brightness(80%);
}
[data-hy-object=label]:focus-within > [data-hy-component~="label.caption"] {
  color: rgb(109.5, 109.5, 109.5);
}
[data-hy-object=label].-invalid [data-hy-component~="label.field"] {
  border-color: #e74c3c;
  color: #e74c3c;
}
[data-hy-object=label].-invalid > [data-hy-component~="label.caption"] {
  color: #e74c3c;
}
[data-hy-object=label].-invalid > [data-hy-component~="label.message"] {
  color: #e74c3c;
  display: block;
}
[data-hy-object=label].-valid [data-hy-component~="label.field"] {
  border-color: #17a589;
  color: #17a589;
}
[data-hy-object=label].-valid > [data-hy-component~="label.caption"] {
  color: #17a589;
}
[data-hy-object=label].-valid > [data-hy-component~="label.message"] {
  color: #17a589;
  display: block;
}
[data-hy-object=label] [data-hy-component~="label.row"] {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: flex-start;
}
[data-hy-object=label] [data-hy-component~="label.row"] > * {
  flex-grow: 0;
  flex-shrink: 0;
}
[data-hy-object=label] [data-hy-component~="label.row"] > .-flex-stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
[data-hy-object=label] > [data-hy-component~="label.icon"] {
  width: 1rem;
  max-width: 1rem;
  min-width: 1rem;
  height: 1rem;
  max-height: 1rem;
  min-height: 1rem;
  top: 1.75rem;
  left: 0;
  object-fit: contain;
  object-position: center;
  pointer-events: none;
  position: absolute;
  transition-duration: 175ms;
  transition-property: filter;
  transition-timing-function: ease;
}
[data-hy-object=label] > [data-hy-component~="label.caption"] {
  color: rgb(160.5, 160.5, 160.5);
  font-size: 0.75rem;
  transition-duration: 175ms;
  transition-property: color;
  transition-timing-function: ease;
}
[data-hy-object=label] > [data-hy-component~="label.message"] {
  display: none;
  font-size: 0.75rem;
}
[data-hy-object=label] > [data-hy-component~="label.description"] {
  background-color: rgb(243.625, 243.625, 243.625);
  border-radius: 0.25rem;
  color: rgb(109.5, 109.5, 109.5);
  font-size: 0.75rem;
  padding: 0.375rem 0.5rem;
}

body.-theme-dark [data-hy-object=label]:hover > [data-hy-component~="label.icon"] {
  filter: brightness(70%);
}
body.-theme-dark [data-hy-object=label]:hover > [data-hy-component~="label.caption"] {
  color: #909090;
}
body.-theme-dark [data-hy-object=label]:focus-within > [data-hy-component~="label.icon"] {
  filter: brightness(80%);
}
body.-theme-dark [data-hy-object=label]:focus-within > [data-hy-component~="label.caption"] {
  color: rgb(169.5, 169.5, 169.5);
}
body.-theme-dark [data-hy-object=label] > [data-hy-component~="label.icon"] {
  filter: brightness(60%);
}
body.-theme-dark [data-hy-object=label] > [data-hy-component~="label.caption"] {
  color: rgb(118.5, 118.5, 118.5);
}

[data-hy-object=loading] {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  height: 100%;
  max-height: 100%;
  min-height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  top: 0;
  left: 0;
  background-color: rgba(66, 66, 66, 0.6274509804);
  opacity: 0;
  pointer-events: none;
  position: fixed;
  transition-duration: 175ms;
  transition-property: opacity;
  transition-timing-function: ease;
  z-index: 9;
}
[data-hy-object=loading] > * {
  flex-grow: 0;
  flex-shrink: 0;
}
[data-hy-object=loading] > .-flex-stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
[data-hy-object=loading].-visible {
  opacity: 1;
  pointer-events: auto;
}
[data-hy-object=loading].-visible > [data-hy-component~="loading.icon"],
[data-hy-object=loading].-visible > [data-hy-component~="loading.caption"] {
  top: 0;
  opacity: 1;
}
[data-hy-object=loading] > [data-hy-component~="loading.icon"] {
  width: 4.25rem;
  max-width: 4.25rem;
  min-width: 4.25rem;
  height: 4.25rem;
  max-height: 4.25rem;
  min-height: 4.25rem;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-name: animation;
  animation-timing-function: linear;
  object-fit: contain;
  object-position: center;
}
@keyframes animation {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
[data-hy-object=loading] > [data-hy-component~="loading.caption"] {
  color: #f6f6f6;
  font-size: 1.375rem;
  transition-delay: 100ms;
}
[data-hy-object=loading] > [data-hy-component~="loading.icon"],
[data-hy-object=loading] > [data-hy-component~="loading.caption"] {
  top: 0.25rem;
  opacity: 0;
  position: relative;
  transition-duration: 175ms;
  transition-property: top, opacity;
  transition-timing-function: ease;
}

body.-theme-dark [data-hy-object=loading] {
  background-color: rgba(33, 33, 33, 0.6274509804);
}

body:has([data-hy-object=loading].-visible) {
  overflow: hidden;
}

body {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  height: 100%;
  max-height: 100%;
  min-height: 100%;
  background-color: #fafafa;
  color: #212121;
  cursor: default;
  font-family: "Pretendard Variable", "Pretendard", sans-serif;
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1;
  margin: 0;
}
body.-theme-dark {
  background-color: #212121;
  color: #f6f6f6;
}

html {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  height: 100%;
  max-height: 100%;
  min-height: 100%;
}

* {
  box-sizing: border-box;
}

a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}
.ck a:link,
.ck a:visited {
  all: revert;
}

button, input, select, textarea {
  background-color: transparent;
  block-size: initial;
  border: none;
  border-radius: 0;
  color: inherit;
  font: inherit;
  inline-size: initial;
  outline: none;
  padding: initial;
  padding-block: initial;
  padding-inline: initial;
  -webkit-border-radius: 0;
}
.ck button, .ck input, .ck select, .ck textarea {
  all: revert;
}

h1, h2, h3, h4, h5, h6 {
  font: inherit;
  margin-block: initial;
  margin-inline: initial;
}
.ck h1, .ck h2, .ck h3, .ck h4, .ck h5, .ck h6 {
  all: revert;
}

img {
  -webkit-user-drag: none;
}

menu, ol, ul {
  list-style-type: none;
  margin-block: initial;
  padding-inline: initial;
}
.ck menu, .ck ol, .ck ul {
  all: revert;
}

/*# sourceMappingURL=common.css.map */
