@charset "UTF-8";

@import "./../../_def";

body > .intro-container {
    position: relative;
    
    > .cover {
        @include fixedSize(100%);
        @include flex(column, flex-start, center, 2rem);
        top: 0;
        left: 0;
        backdrop-filter: blur(0.5rem);
        background-color: #424242a0;
        color: $global-text-color-dark;
        padding: 0 6rem;
        position: absolute;
        z-index: 1;

        > .title {
            font-family: "Inria Serif", serif;
            font-size: 3rem;
            font-style: normal;
            font-weight: 300;
            letter-spacing: 0.25rem;
        }

        > .subtitle {
            font-family: "Inria Serif", serif;
            font-size: 1.25rem;
            font-style: normal;
            font-weight: 300;
        }

        > .copyright {
            @include flex(column, center, flex-start, 0.5rem);
            bottom: 3rem;
            left: 50%;
            color: $global-text-color-dark-darken-30;
            font-size: 0.75rem;
            position: absolute;
            transform: translateX(-50%);

            > .sns {
                @include flex(row, stretch, flex-start, 0.5rem);

                > .item > .link > .icon {
                    @include fixedSize(2rem);
                    filter: brightness(80%);
                    object-fit: contain;
                    object-position: center;
                    transition-duration: 175ms;
                    transition-property: filter;
                    transition-timing-function: ease;

                    &:hover {
                        filter: brightness(90%);
                    }

                    &:active {
                        filter: brightness(100%);
                    }
                }
            }
        }
    }

    > .video {
        @include fixedSize(100%);
        top: 0;
        left: 0;
        object-fit: cover;
        object-position: center;
        opacity: 0;
        pointer-events: none;
        position: absolute;
        transition-duration: 2500ms;
        transition-property: opacity;
        transition-timing-function: ease;

        &.-visible {
            opacity: 1;
        }
    }
}

body.-theme-dark > .intro-container {
    > .cover {
        background-color: #212121a0;
    }
}

@media screen and (max-width: 55rem) {
    body > .intro-container {
        display: none;
    }
}