@import url("https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
body > .intro-container {
  position: relative;
}
body > .intro-container > .cover {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  height: 100%;
  max-height: 100%;
  min-height: 100%;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  top: 0;
  left: 0;
  backdrop-filter: blur(0.5rem);
  background-color: rgba(66, 66, 66, 0.6274509804);
  color: #f6f6f6;
  padding: 0 6rem;
  position: absolute;
  z-index: 1;
}
body > .intro-container > .cover > * {
  flex-grow: 0;
  flex-shrink: 0;
}
body > .intro-container > .cover > .-flex-stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
body > .intro-container > .cover > .title {
  font-family: "Inria Serif", serif;
  font-size: 3rem;
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0.25rem;
}
body > .intro-container > .cover > .subtitle {
  font-family: "Inria Serif", serif;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 300;
}
body > .intro-container > .cover > .copyright {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: flex-start;
  bottom: 3rem;
  left: 50%;
  color: #aaaaaa;
  font-size: 0.75rem;
  position: absolute;
  transform: translateX(-50%);
}
body > .intro-container > .cover > .copyright > * {
  flex-grow: 0;
  flex-shrink: 0;
}
body > .intro-container > .cover > .copyright > .-flex-stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
body > .intro-container > .cover > .copyright > .sns {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: flex-start;
}
body > .intro-container > .cover > .copyright > .sns > * {
  flex-grow: 0;
  flex-shrink: 0;
}
body > .intro-container > .cover > .copyright > .sns > .-flex-stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
body > .intro-container > .cover > .copyright > .sns > .item > .link > .icon {
  width: 2rem;
  max-width: 2rem;
  min-width: 2rem;
  height: 2rem;
  max-height: 2rem;
  min-height: 2rem;
  filter: brightness(80%);
  object-fit: contain;
  object-position: center;
  transition-duration: 175ms;
  transition-property: filter;
  transition-timing-function: ease;
}
body > .intro-container > .cover > .copyright > .sns > .item > .link > .icon:hover {
  filter: brightness(90%);
}
body > .intro-container > .cover > .copyright > .sns > .item > .link > .icon:active {
  filter: brightness(100%);
}
body > .intro-container > .video {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  height: 100%;
  max-height: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: center;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  transition-duration: 2500ms;
  transition-property: opacity;
  transition-timing-function: ease;
}
body > .intro-container > .video.-visible {
  opacity: 1;
}

body.-theme-dark > .intro-container > .cover {
  background-color: rgba(33, 33, 33, 0.6274509804);
}

@media screen and (max-width: 55rem) {
  body > .intro-container {
    display: none;
  }
}
#main {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: center;
  background-color: white;
  border-left: 0.0625rem solid #ededed;
}
#main > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#main > .-flex-stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#main > .content {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: flex-start;
  display: none !important;
  padding: 3rem;
}
#main > .content > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#main > .content > .-flex-stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#main > .content.-visible {
  display: flex !important;
}
#main > .content > .title {
  font-size: 2rem;
  font-weight: 100;
  letter-spacing: 0.375rem;
  margin-bottom: 1rem;
}
#main > .login-form {
  width: 25rem;
  max-width: 25rem;
  min-width: 25rem;
}
#main > .login-form > .button-container {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: flex-end;
}
#main > .login-form > .button-container > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#main > .login-form > .button-container > .-flex-stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#main > .login-form > .menu {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  justify-content: flex-start;
  font-size: 0.75rem;
  margin-top: 1rem;
}
#main > .login-form > .menu > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#main > .login-form > .menu > .-flex-stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#main > .login-form > .menu > .item {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  justify-content: flex-start;
}
#main > .login-form > .menu > .item > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#main > .login-form > .menu > .item > .-flex-stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#main > .login-form > .menu > .item > .caption {
  color: #6e6e6e;
}
#main > .login-form > .menu > .item > .link {
  color: #a47764;
  font-weight: 400;
}
#main > .login-form > .menu > .item > .link:hover {
  text-decoration: underline;
}
#main > .register-form {
  width: 35rem;
  max-width: 35rem;
  min-width: 35rem;
}
#main > .register-form > .address-find-dialog {
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  height: 100%;
  max-height: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(66, 66, 66, 0.6274509804);
  opacity: 0;
  pointer-events: none;
  position: absolute;
  transition-duration: 175ms;
  transition-property: opacity;
  transition-timing-function: ease;
  z-index: 1;
}
#main > .register-form > .address-find-dialog.-visible {
  opacity: 1;
  pointer-events: auto;
}
#main > .register-form > .address-find-dialog.-visible > .modal {
  top: 50%;
  opacity: 1;
  pointer-events: auto;
}
#main > .register-form > .address-find-dialog > .modal {
  width: 22.5rem;
  max-width: 22.5rem;
  min-width: 22.5rem;
  height: 28.75rem;
  max-height: 28.75rem;
  min-height: 28.75rem;
  top: calc(50% + 0.25rem);
  left: 50%;
  background-color: #fafafa;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem rgba(33, 33, 33, 0.062745098);
  opacity: 0;
  overflow: hidden auto;
  pointer-events: none;
  position: absolute;
  transform: translate(-50%, -50%);
  transition-duration: 175ms;
  transition-property: top, opacity;
  transition-timing-function: ease;
}
#main > .register-form > .step-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-start;
}
#main > .register-form > .step-container > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#main > .register-form > .step-container > .-flex-stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#main > .register-form > .step-container > .item {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0.375rem;
  justify-content: center;
  font-size: 0.75rem;
}
#main > .register-form > .step-container > .item > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#main > .register-form > .step-container > .item > .-flex-stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#main > .register-form > .step-container > .item.-selected > .number {
  background-color: #a47764;
  color: #f6f6f6;
}
#main > .register-form > .step-container > .item.-selected > .caption {
  color: #212121;
  font-weight: 400;
}
#main > .register-form > .step-container > .item > .number {
  width: 1.425rem;
  max-width: 1.425rem;
  min-width: 1.425rem;
  height: 1.425rem;
  max-height: 1.425rem;
  min-height: 1.425rem;
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: center;
  background-color: #ededed;
  border-radius: 999rem;
  color: #a1a1a1;
  font-weight: 400;
}
#main > .register-form > .step-container > .item > .number > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#main > .register-form > .step-container > .item > .number > .-flex-stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#main > .register-form > .step-container > .item > .caption {
  color: #878787;
  transition-duration: 175ms;
  transition-property: color, font-weight;
  transition-timing-function: ease;
}
#main > .register-form > .content {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: flex-start;
  display: none;
}
#main > .register-form > .content > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#main > .register-form > .content > .-flex-stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#main > .register-form > .content.-visible {
  display: flex;
}
#main > .register-form > .content.information input.-centered, #main > .register-form > .content.information select.-centered {
  text-align: center;
}
#main > .register-form > .content.information input.-spaced, #main > .register-form > .content.information select.-spaced {
  letter-spacing: 0.125rem;
}
#main > .register-form > .content.information .gender-wrapper {
  border: 0.0625rem solid #ededed;
  border-radius: 0.25rem;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: 1fr;
  overflow: hidden;
}
#main > .register-form > .content.information .gender-wrapper > .gender {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: center;
  cursor: pointer;
  padding: 0 0.625rem;
}
#main > .register-form > .content.information .gender-wrapper > .gender > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#main > .register-form > .content.information .gender-wrapper > .gender > .-flex-stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#main > .register-form > .content.information .gender-wrapper > .gender + .gender {
  border-left: 0.0625rem solid #ededed;
}
#main > .register-form > .content.information .gender-wrapper > .gender:has(> input:checked) {
  background-color: #a47764;
  color: #f6f6f6;
}
#main > .register-form > .content.information > .count {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0.125rem;
  justify-content: flex-start;
  display: none;
}
#main > .register-form > .content.information > .count > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#main > .register-form > .content.information > .count > .-flex-stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#main > .register-form > .content.information > .count.-visible {
  display: flex;
}
#main > .register-form > .content.information > .count > .cancel {
  color: #a47764;
  margin-left: 0.375rem;
}
#main > .register-form > .content.information > .count > .cancel:hover {
  text-decoration: underline;
}
#main > .register-form > .content.complete {
  align-items: center;
  padding-top: 3rem;
}
#main > .register-form > .content.complete > .title {
  font-size: 1.25rem;
  font-weight: 100;
}
#main > .register-form > .content > .button-container {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: flex-end;
  margin-top: 0.5rem;
}
#main > .register-form > .content > .button-container > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#main > .register-form > .content > .button-container > .-flex-stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#main > .recover-form {
  width: 35rem;
  max-width: 35rem;
  min-width: 35rem;
}
#main > .recover-form > .type-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: 1fr;
}
#main > .recover-form > .type-container > .type {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  justify-content: flex-start;
  border: 0.0625rem solid #ededed;
  cursor: pointer;
  padding: 1.125rem 1.25rem;
  transition-duration: 175ms;
  transition-property: border-color;
  transition-timing-function: ease;
}
#main > .recover-form > .type-container > .type > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#main > .recover-form > .type-container > .type > .-flex-stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#main > .recover-form > .type-container > .type:hover {
  border-color: #e7e7e7;
}
#main > .recover-form > .type-container > .type:has(.input:checked) {
  border-color: #a47764;
  outline: 0.0625rem solid #a47764;
}
#main > .recover-form > .type-container > .type > .input {
  display: none;
}
#main > .recover-form > .type-container > .type > .title {
  font-size: 1.25rem;
  font-weight: 100;
}
#main > .recover-form:not(:has(> .type-container > .type > .input:checked)) > .content.empty, #main > .recover-form:has(> .type-container > .type > .input[value=email]:checked) > .content.email, #main > .recover-form:has(> .type-container > .type > .input[value=password]:checked) > .content.password {
  display: flex;
}
#main > .recover-form > .content {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: flex-start;
  display: none;
}
#main > .recover-form > .content > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#main > .recover-form > .content > .-flex-stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#main > .recover-form > .content.-visible {
  display: flex;
}
#main > .recover-form > .content > .count {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0.125rem;
  justify-content: flex-start;
  display: none;
}
#main > .recover-form > .content > .count > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#main > .recover-form > .content > .count > .-flex-stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#main > .recover-form > .content > .count.-visible {
  display: flex;
}
#main > .recover-form > .content > .count > .cancel {
  color: #a47764;
  margin-left: 0.375rem;
}
#main > .recover-form > .content > .count > .cancel:hover {
  text-decoration: underline;
}
#main > .recover-form > .content > .button-container {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: flex-start;
  margin-top: 0.5rem;
}
#main > .recover-form > .content > .button-container > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#main > .recover-form > .content > .button-container > .-flex-stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#main > .recover-form > .content.empty > .message {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0;
  justify-content: center;
  border: 0.0625rem solid #ededed;
  color: #6e6e6e;
  padding: 0.75rem 1rem;
}
#main > .recover-form > .content.empty > .message > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#main > .recover-form > .content.empty > .message > .-flex-stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#main > .recover-form > .content.email > .result {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  justify-content: flex-start;
  border: 0.0625rem solid #ededed;
  display: none;
  padding: 0.75rem 1rem;
}
#main > .recover-form > .content.email > .result > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#main > .recover-form > .content.email > .result > .-flex-stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#main > .recover-form > .content.email > .result.-visible {
  display: flex;
}
#main > .recover-form > .content.email > .result > .email {
  cursor: pointer;
  font-weight: 400;
  user-select: all;
}
#main > .recover-form > .content.email > .result > .email::before {
  content: "-";
  margin-right: 0.5rem;
  user-select: none;
}
#main > .recover-form > .content.email > .button-container > button[name=emailSuccessPassword] {
  display: none;
}
#main > .recover-form > .content.email > .button-container > button[name=emailSuccessPassword].-visible {
  display: flex;
}
#main > .recover-form > .content.password > .success {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  justify-content: flex-start;
  border: 0.0625rem solid #ededed;
  display: none;
  padding: 0.75rem 1rem;
}
#main > .recover-form > .content.password > .success > * {
  flex-grow: 0;
  flex-shrink: 0;
}
#main > .recover-form > .content.password > .success > .-flex-stretch {
  flex-grow: 1;
  flex-shrink: 1;
}
#main > .recover-form > .content.password > .success.-visible {
  display: flex;
}
#main > .recover-form > .content.password > .new-password {
  display: none;
}
#main > .recover-form > .content.password > .new-password.-visible {
  display: flex;
}
#main > .recover-form > .content.password > .button-container > button[name=passwordSuccessModify] {
  display: none;
}
#main > .recover-form > .content.password > .button-container > button[name=passwordSuccessModify].-visible {
  display: flex;
}

body.-theme-dark > .login-form {
  background-color: #272727;
  border-left-color: #3b3b3b;
}
body.-theme-dark > .login-form > .wrapper > .menu > .item > .caption {
  color: #aaaaaa;
}

@media screen and (max-width: 55rem) {
  #main > .login-form {
    width: calc(100% - 4rem);
    max-width: calc(100% - 4rem);
    min-width: calc(100% - 4rem);
    padding: 3rem 0;
  }
  #main > .register-form {
    width: calc(100% - 4rem);
    max-width: calc(100% - 4rem);
    min-width: calc(100% - 4rem);
    padding: 3rem 0;
  }
}
body {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: 1fr;
}

@media screen and (max-width: 55rem) {
  body {
    grid-template-columns: 1fr;
  }
}

/*# sourceMappingURL=login.css.map */
