@charset "UTF-8";

@import "./../../_def";

#side > .body.default {
    > .current-weather {
        @include flex(column, center, center, 0.5rem);
        background-color: #ffffff;
        border-radius: 0.5rem;
        padding: 1rem 1.5rem;

        > .icon {
            @include fixedSize(6.25rem);
            object-fit: contain;
            object-position: center;
            margin-bottom: -0.75rem;
        }

        > .temperature {
            font-size: 1.625rem;
            font-weight: 200;

            &::after {
                color: $global-text-color-light-lighten-50;
                content: '℃';
                font-size: 0.875rem;
            }
        }

        > .temperature-range {
            @include flex(row, center, flex-start);

            > .value {
                font-size: 0.7rem;

                &.min {
                    color: #3498db;
                }

                &.max {
                    color: #e74c3c;
                }

                &::after {
                    content: '℃';
                }
            }

            > .bar {
                $bar-height: 0.375rem;
                top: -0.0625rem;
                width: 7.5rem;
                height: $bar-height;
                background: #3498DBC0;
                background: linear-gradient(90deg, #3498db80 0%, #e74c3c80 100%);
                border-radius: 999rem;
                margin: 0 0.5rem;
                position: relative;

                > .current {
                    @include fixedSize($bar-height * 2);
                    top: 50%;
                    left: 50%;
                    background-color: transparent;
                    border: 0.25rem solid #757575;
                    border-radius: 999rem;
                    display: block;
                    position: absolute;
                    transform: translate(-50%, -50%);
                }
            }
        }

        > .caption {
            font-size: 1.125rem;
            font-weight: 200;
        }

        > .etc {
            @include flex(row, center, center);

            > .item {
                @include flex(row, center, center, 0.5rem);

                & + .item {
                    &::before {
                        width: 0.0625rem;
                        height: 0.7rem;
                        background-color: #e0e0e0;
                        content: '';
                        display: inline-block;
                        margin: 0 0.5rem;
                    }
                }

                &.wind > .value::after {
                    color: $global-text-color-light-lighten-50;
                    content: 'm/s';
                    margin-left: 0.125rem;
                }

                &.humidity > .value::after {
                    color: $global-text-color-light-lighten-50;
                    content: '%';
                    margin-left: 0.125rem;
                }

                > .icon {
                    @include fixedSize(1rem);
                    object-fit: contain;
                    object-position: center;
                }
            }
        }
    }

    > .today-weather {
        @include flex(row, center, flex-start, 0.5rem);
        background-color: $global-background-color-light-lighten-5;
        border-radius: 0.5rem;
        overflow: auto hidden;
        padding: 1rem;
        position: relative;

        &:hover > .item > .collapsing {
            max-height: 1rem;
            margin-top: 0.375rem;
        }

        > .item {
            @include fixedWidth(3.5rem);
            @include flex(column, center, center);

            > .time {

            }

            > .icon {
                @include fixedWidth(75%);
            }

            > .temperature {
                margin-bottom: 0.25rem;

                &::after {
                    color: $global-text-color-light-lighten-50;
                    content: '℃';
                }
            }

            > .collapsing {
                @include flex(row, center, flex-start, 0.125rem);
                max-height: 0;
                align-self: stretch;
                font-size: 0.7rem;
                margin-top: 0;
                overflow: hidden;
                transition-duration: 175ms;
                transition-property: max-height, margin-top;
                transition-timing-function: ease;

                &.humidity::after {
                    color: $global-text-color-light-lighten-50;
                    content: '%';
                }

                &.wind::after {
                    color: $global-text-color-light-lighten-50;
                    content: 'm/s';
                }

                &.rain::after {
                    color: $global-text-color-light-lighten-50;
                    content: 'mm';
                }

                &.snowfall::after {
                    color: $global-text-color-light-lighten-50;
                    content: 'cm';
                }

                > .icon {
                    @include fixedSize(0.7rem);
                    object-fit: contain;
                    object-position: center;
                }
            }
        }
    }

    > .daily-weather {
        @include flex(column, stretch, flex-start);
        background-color: $global-background-color-light-lighten-5;
        border-radius: 0.5rem;

        > .item {
            @include flex(row, center, flex-start, 0.25rem);
            padding: 0.625rem 1rem;

            &:not(:last-child) {
                border-bottom: 0.0625rem solid $global-background-color-light;
            }

            > .date {
                @include fixedWidth(1.75rem);
                font-size: 0.875rem;
            }

            > .icon {
                @include fixedSize(2rem);
                margin: -0.5rem 0;
            }

            > .temperature {
                font-family: "Nanum Gothic Coding", monospace;
                font-weight: 400;
                font-style: normal;

                &::after {
                    color: $global-text-color-light-lighten-50;
                    content: '℃';
                    font-size: 0.7rem;
                    margin-left: 0.125rem;
                }

                &.min {
                    color: #3498db;
                }

                &.max {
                    color: #e74c3c;
                    margin-left: -0.25rem;

                    &::before {
                        color: $global-text-color-light-lighten-50;
                        content: '/';
                        padding: 0 0.25rem;
                    }
                }
            }

            > .slash {
                color: $global-text-color-light-lighten-50;
            }
        }
    }
}