@charset "UTF-8";

@use "sass:color";
@import "../../_def";

body > .dialog > .my-page {
    @include fixedWidth(30rem);

    > [data-hy-component="dialog.modal.content"] {
        @include flex(column, stretch, flex-start, 0.5rem);

        > .form {
            @include flex(column, stretch, flex-start, 0.5rem);

            .gender-wrapper {
                border: 0.0625rem solid $global-border-color-light;
                border-radius: 0.25rem;
                display: grid;
                grid-template-columns: repeat(2, minmax(0, 1fr));
                grid-template-rows: 1fr;
                overflow: hidden;

                > .gender {
                    @include flex(row, center, center);
                    cursor: pointer;
                    padding: 0 0.625rem;

                    + .gender {
                        border-left: 0.0625rem solid $global-border-color-light;
                    }

                    &:has(> input:checked) {
                        background-color: $global-concept-color-main;
                        color: $global-text-color-dark;
                    }
                }
            }

            > .address-find-dialog {
                @include fixedSize(100%);
                top: 0;
                left: 0;
                background-color: #424242a0;
                opacity: 0;
                pointer-events: none;
                position: absolute;
                transition-duration: 175ms;
                transition-property: opacity;
                transition-timing-function: ease;
                z-index: 1;

                &.-visible {
                    opacity: 1;
                    pointer-events: auto;

                    > .modal {
                        top: 50%;
                        opacity: 1;
                        pointer-events: auto;
                    }
                }

                > .modal {
                    @include fixedSize(22.5rem, 28.75rem);
                    top: calc(50% + 0.25rem);
                    left: 50%;
                    background-color: $global-background-color-light;
                    border-radius: 0.5rem;
                    box-shadow: 0 0 1rem #21212110;
                    opacity: 0;
                    overflow: hidden auto;
                    pointer-events: none;
                    position: absolute;
                    transform: translate(-50%, -50%);
                    transition-duration: 175ms;
                    transition-property: top, opacity;
                    transition-timing-function: ease;
                }
            }

            > .toggler:has(:checked) + .toggleable {
                display: flex;
            }

            > .toggleable {
                @include flex(column, stretch, flex-start, 0.5rem);
                display: none;
            }
        }
    }
}